
.bottomBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $backC;

  .commentTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;

    .cText {
      flex-direction: column;
      margin-bottom: 7vh;

      h3 {
        margin-left: 2.5vw;
      }

      color: white;
    }
  }

  .carouselDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10vh;

    .carousel-inner {
      overflow: visible;
      display: flex;

      .next {
        &.left {
          animation-name: toRight;
          animation-duration: 3s;
        }
      }

      .prev {
        &.right {
          animation-name: toLeft;
          animation-duration: 3s;
        }
      }

      @keyframes toLeft {
        0% {
          left: -250px;
          opacity: .5;
        }

        30% {
          left: -10px;
          top: 0px;
          opacity: 1;
        }

        80% {
          right: -100px;
        }

        100% {
          z-index: 1;
        }
      }


      @keyframes toRight {
        0% {
          left: 250px;
          opacity: .5;
        }

        30% {
          left: -10px;
          top: 0px;
          opacity: 1;
        }

        80% {
          left: -100px;
        }

        100% {
          z-index: 1;
        }
      }

      .prevItem {
        display: flex;
        position: absolute;
        top: 3vh;
        min-height: 400px;
        max-width: 500px;
        left: -250px;
        opacity: .5;
        z-index: 0;
      }

      .nextItem {
        display: flex;
        position: absolute;
        top: 3vh;
        min-height: 400px;
        max-width: 500px;
        right: -250px;
        opacity: .5;
        z-index: 0;
      }

      .active {
        z-index: 1;

        .carouselItem {
          min-height: 350px;
        }
      }
    }

    .carousel-control {
      background-image: none;
      margin: 0 -20vw 10vh;
      z-index: 2;
    }

    .carouselItem {
      display: flex;
      flex-direction: column;

      max-width: 40vw;
      border: solid white .5px;
      padding: 30px;
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      box-shadow: -5px 1px 30px 1px rgba(0, 0, 0, .75);

      img {
        position: absolute;
        top: -40px;
        align-self: center;
        width: 96px;
        height: 96px;
        border: solid 4px white;
        border-radius: 48px;
      }

      p {
        margin-top: 70px;
        font-size: 3rem;
        @include lg() {
          font-size: 1.3rem;
        }
      }

      .commentAutor {
        align-self: center;

        h5 {
          color: $backC;
          margin-left: 5px;
        }

        h6 {
          color: gray;
        }
      }
    }

  }

  // carouselDiv




}


footer {
  display: flex;
  flex-direction: column;
  background-color: $backFooter;
  color: white;

  .footLogo {
    align-self: center;
    margin-top: 20px;

    img {
      height: 64px;
      width: 100px;
    }

    .logoFootTxt {
      margin-left: 20px;

      h6 {
        margin-top: 0;
      }

      .subFoot {
        display: flex;
        margin-top: -10px;

        p {
          font-size: .59rem;

          &:nth-child(2) {
            &:before {
              content: "\a0\b7\a0";
            }

            &:after {
              content: "\a0\b7\a0";
            }
          }
        }

      }
    }
  }

  .footToolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;

    Button {
      align-self: center;
      color: white;
      border: none;
      background: none;
      font-size: 1.3rem;
    }
  }

  .bottomFoot {
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    min-height: 50px;
    padding-top: 2em;

    .subBFoot {
      display: flex;

      img {
        margin: .3em .5em;
        widows: 10px;
        height: 10px;
      }

      p {
        font-size: 1.2rem;
      }

    }
  }

}

// bottomBar
