.top {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../../assets/media/backTop.jpg) no-repeat center center fixed;
  padding: 0;
  margin: 0;
  background-size: cover;

  .searchDiv {
    display: flex;
    margin-top: 1.2em;

    .DropdownButton {
      border-radius: 7px 0 0 7px;
      border: none;
      height: 7vh;
      box-shadow: $searchShandow;
      color: gray;
      min-width: 10em;
    }

    .searchInput {
      display: flex;
      min-width: 35vw;
      border: none;
      height: 7vh;
      font-size: 3rem;
      box-shadow: $searchShandow;

    }

    .searchButton {
      max-width: 150px;
      padding: 15px;
      border: none;
      border-right: .1px solid black;
      background-color: rgb(31, 171, 186);
      color: white;
      border-radius: 0 7px 7px 0;
      box-shadow: $searchShandow;
    }
  }
  // searchDiv


  .bottomButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40vh;

    Button {
      border: none;
      border-radius: 0;
      margin: 1em;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 1.5em;
      color: green;

      img {
        margin: 5px;
        width: 24px;
        height: 24px;
      }
    }

  }
}

// quickSearch
