$backC: rgb(31, 172, 186);
$backFooter: rgb(46, 46, 46);

.bottomBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $backC;

  .commentTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .cText {
      flex-direction: column;
      margin-bottom: 50px;

      h3 {
        margin-left: 30px;
      }

      color: white;
    }
  }

  .carouselDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;


    .carousel-inner {
      overflow: visible;
    }

    .carousel-control {
      background-image: none;
      margin-bottom: 100px;
    }

    .carouselItem {
      display: flex;
      flex-direction: column;
      min-height: 300px;
      max-width: 600px;
      border: solid white .5px;
      padding: 30px;
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      box-shadow: -5px 1px 30px 1px rgba(0, 0, 0, 0.75);

      img {
        position: absolute;
        top: -40px;
        align-self: center;
        width: 96px;
        height: 96px;
        border: solid 4px white;
        border-radius: 48px;
      }

      p {
        margin-top: 70px;
      }

      .commentAutor {
        align-self: center;

        h5 {
          color: $backC;
        }

        h6 {
          color: gray;
        }
      }
    }

  }

  // carouselDiv

  footer {
    display: flex;
    flex-direction: column;
    background-color: $backFooter;
    color: white;

    .footLogo {
      align-self: center;

      img {
        height: 64px;
        width: 100px;
      }

      .logoFootTxt {
        .subFoot {
          display: flex;

          p {
            font-size: .9rem;

            &:nth-child(2) {
              &:before {
                content: "\a0\b7\a0";
              }

              &:after {
                content: "\a0\b7\a0";
              }
            }
          }

        }
      }
    }

    .footToolbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      Button {
        align-self: center;
        color: white;
        border: none;
        background: none;
        font-size: 1.3rem;
      }
    }
  .bottomFoot{
    display: flex;
    background-color: rgb(34,34,34);
    justify-content: center;
    min-height: 50px;
    padding-top: 2rem;
    .subBFoot{
      display: flex;
      img{
        margin: .3rem .5rem;
        widows: 10px;
        height: 10px;
      }
      p{
        font-size: 1.2rem;
      }

    }
  }

  }

  // footer
}

// bottomBar
