$backC: rgb(31, 172,186);
.bottomBar {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: $backC;
    .carouselDiv {
        margin-top: 200px;
    }
    .productsTitle{

     
    }

}