header {
  width: 95vw;
    padding: 0;
    margin: 0;
    display: flex;
    height: 3vh;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    .headLogo {
      display: flex;
      margin-left: 3vw;
      margin-top: 5vh;
  
      img {
        width: 100px;
        height: 64px;
      }
  
      .logoHeadTxt {
        display: flex;
        flex-direction: column;
  
        h4 {
          color: green;
        }
  
        .sub {
          display: flex;
          flex-direction: row;
          margin-top: -1vh;
  
          p {
            font-size: .87rem;
  
            &:first-child {
              color: rgb(31, 172, 186);
            }
  
            &:nth-child(2) {
              color: orange;
  
              &:before {
                color: black;
                content: "\a0\b7\a0";
              }
  
              &:after {
                color: black;
                content: "\a0\b7\a0";
              }
            }
  
            &:last-child {
              color: green;
            }
          }
        }
      }
  
    }
  
    .ButtonToolbar {
  
      Button {
        border: none;
        background: none;
        font-size: 1rem;
        display: inline-flex;
        margin-left: 2px;
  
  
        &:last-child {
          border-radius: 0;
          border-left: solid gray .5px;
        }
      }
    }
  }
  
  
  .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: rgb(70, 70, 70);
    margin-top: 15vh;
  
    h1 {
      span {
        color: green;
      }
    }
  
    .AfterSearchText {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: $graySearchInput;
      margin-bottom: 1.2vh;
  
      h5 {
        margin: 5px;
  
        &:nth-child(2) {
          &:before {
            content: "\b7\a0";
          }
  
          &:after {
            content: "\a0\b7";
          }
        }
  
      }
  
    }
  
  }