@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-size: cover;
}
/*----*/
$graySearchTitle: rgb(70, 70, 70);
$graySearchInput: rgb(111, 111, 111);
$searchShandow: 0 1px 5px .3px gray;
$backC: rgb(31, 172, 186);
$backFooter: rgb(46, 46, 46);
/*----*/


@mixin lg() {
  @media (min-width: 640px) {
    @content;
  }
}

@import 'header.scss';
@import 'footer.scss';
@import 'mainPage/index.scss';
@import 'sign.scss'