@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  padding: 0;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin lg() {
  @media (min-width: 48rem) {
    @content;
  }
}

@import 'topBar.scss';
@import 'products.scss';
@import 'bottomBar.scss';