$backProduct: rgb(247, 247, 247);
$backPC: rgb(31, 172, 186);

.productsDiv {
  background-color: $backProduct;
  display: flex;
  flex-direction: column;


  .productsTitle {
    max-width: 400px;
    align-self: center;

    h3 {
      margin-left: 50px;
    }

    h5 {
      color: gray;
    }
  }

  .productList {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    max-width: 1000px;

    .productItem {
      background-color: white;
      flex-direction: column;
      border: solid white 7px;
      margin: 20px;

      img {
        width: 250px;
        height: 250px;
      }

      h4 {
        color: gray;
      }
    }
  }

  .productLink {
    display: flex;
    justify-content: space-around;

    Button {
      border: none;
      margin: 25px;
      background-color: $backProduct;
      color: $backPC;
      text-decoration: underline;
    }
  }
}
