.productsDiv {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;

  .productsTitle {
    h3 {
      margin-left: 60px;
    }

    h5 {
      color: gray;
    }
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .productItem {
      background-color: white;
      flex-direction: column;
      border: solid white 7px;
      margin: 20px;

      img {
        width: 250px;
        height: 250px;
      }

      h4 {
        color: gray;
      }
    }
  }
}
