.signInUp {
  display: flex;
  flex-direction: row;
  min-height: 67vh;
  margin-top: 20vh;
  width: 100vw;

  .signIn {
    width: 50vw;
  }

  .signUp {
    width: 50vw;
  }

  Form {
    margin: 50px;
    max-width: 30vw;
    input {
      border: none;
      border-radius: 0px;
      border-bottom: .5px solid gray;
      box-shadow: none;
    }

    Button {
      width: 10vw;
      border-radius: 25px;
    }
  }
}
