.sign {
  display: flex;
  flex-direction: row;
  min-height: 75vh;
  width: 100vw;

  form {
    padding: 25vh 10vw;

    h3 {
      margin-bottom: 5vh;
    }

    input {
      display: flex;
      margin: 10px;
      background-color: rgba(0, 0, 0, 0);
      width: 25vw;
      padding: 10px;
      border: none;
    }

    .inputSign {
      position: relative;

      input {
        &.inputFail {
          border-bottom: .5px solid red;
        }
      }
   
      span {
        width: 3vw;
        display: inline-block;
        position: absolute;
        color:red;
        left: 26vw;
        top: -1vh;
      }
    }

    Button {
      width: 120px;
      margin-left: 15vw;
      margin-top: 2vh;
      border-radius: 25px;
      border: none;
      padding: 10px;
    }
  }

  .signIn {
    width: 50vw;

    input {
      border-bottom: .5px solid gray;
    }

    Button {
      background-color: $backC;

      img {
        height: 24px;

      }
    }
  }

  .signUp {
    background: url(../../assets/media/signUp.png);
    background-size: cover;
    width: 50vw;

    h3 {
      color: white;
    }

    input {
      border-bottom: .5px solid white;
      color: white;

      &::placeholder {
        color: white;
      }
    }

    Button {
      color: $backC;
    }
  }
}
